<div class="background bigguy">
<div class="container">
	<div class="row">
		<div class="span5" style="padding-top: 100px;">
		<h2> Find local food, </br>meet local people. </h2>
			<h1> Sign up to be notified when </br>we launch!</h1>
			<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
		</div>
		<div class="span6 pull-right" style="padding-top: 400px;">
		<p> Bangkok, Thailand.</p>
		<!--<img src="img/profiles/seneey.jpg" class="img-polaroid" width="100px">
		<img src="img/edwinli/edwinli2 copy.jpg" class="img-polaroid" width="100px">
		<img src="img/junyuen/junyuen2.jpg" class="img-polaroid" width="100px">
	-->
		</div>
	</div>
</div>
</div>
<!--Write Up-->
<div class="container spacebefore">
	<div class="row">
		<div class="span4">
			
		</div>
		<div class="span4">
			<!--<h1>Locals know best</h1>-->
			<h1>Food hosting connects travellers to local people, local food, to create dialogues and conversations about local culture.</h1>
			<p>Have you ever had difficulties traveling in an unfamiliar region... seeking for authentic local food? Food Host aims to engage you to dine with a local who has knowledge of the best street/local food in his/her area of residence.</p>
		</div>
		<div class="span4">
			<!--<h1>Meet the local</h1>-->
			<p>Here’s the catch. The meal is paid for by the traveller and as a local you will enjoy free meals in exchange for your services/skills of arranging a local meal for your fellow guest.</p>
			<p>We would like to believe that this will change the way people share understanding of their local cultures, both as a local and the traveller. By bringing different individuals from different corners of the world to a dining table, we see the potential of how this could create more cross cultural exchanges sprouting from dialogues that arise over a meal. Read on if you have been impressed, or are still clueless about how this will work.</p>
		</div>
	</div>
</div>
<!-- How It Works -->
<div class="background">
<div class="container spacebefore">
<div class="row" style="text-align: center;">
	<div class="span12">
    	<h2>How It Works</h2>
    	<div class="row">
			<div class="span3">
				<img src="img/graphics/How-It-Works-01.png" class="darkshadow">
				<h1>1. Browse</h1>
				<p> • Find food host in the local region you're traveling.
					</br> • Review a list of host profiles.
					</br> • Select by budget, dates, pax, availability
				</p>
			</div>
			<div class="span3">
				<img src="img/graphics/How-It-Works-02.png" class="darkshadow">
				<h1>2. Contact</h1>
				<p> Send a message to food host. 
				</br> Set up a meeting
				</p>
			</div>
			<div class="span3">
				<img src="img/graphics/How-It-Works-03.png" class="darkshadow">
				<h1>3. Reserve</h1>
				<p>You pay for the meal through food hosting when reservation is confirmed.</p>
			</div>
			<div class="span3">
				<img src="img/graphics/How-It-Works-04.png" class="darkshadow">
				<h1>4. Meet up</h1>
				<p>Host meets up traveler to collect the free meal.</p>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<!-- Why choose Food Hosting? -->
<div class="container spacebefore">
<div class="row" style="text-align: center;">
	<div class="span12">
    	<h1>Why choose Food Hosting?</h1>
    	<div class="row">
			<div class="span3">
				<h1>Secured</h1>
				<p>We will work towards having a simple verification process of our hosts to ensure safe & secure hosting/dining experience.
				</p>
				<a class="btn" href=".">Learn more</a>
			</div>
			<div class="span3">
				<h1>Culture</h1>
				<p> 
				</p>
				<a class="btn" href=".">Learn more</a>
			</div>
			<div class="span3">
				<h1>Convenience</h1>
				<p>In 4 simple steps, we are able to set you up a meal with a local host of your choice, sorted by region, budget, and time of your preference.
				</p>
				<a class="btn" href=".">Learn more</a>
			</div>
			<div class="span3">
				<h1>Experience</h1>
				<p>We cannot emphasise enough how food connects people. And it does so on a very intimate level.
				</p>
				<a class="btn" href=".">Learn more</a>
			</div>
		</div>
	</div>
</div>
</div>
<!-- Sign Up newsletter -->
<div class="background">
<div class="container spacebefore">
	<div class="row">
		<div class="span4">
			<h1> Subscribe</h1>
		<form action="http://nomnomnom.createsend.com/t/t/s/mykh/" method="post" id="subForm">
				<div class="control-group" >
					<label class="control-label" for="name">Name:</label>
						<div class="controls">
							<div class="input-prepend">
						<span class="add-on"><i class="icon-user"></i></span>
						<input type="text" name="cm-name" id="name" />
							</div>
						</div>
					<label class="control-label" for="mykh-mykh">Email address:</label>
						<div class="controls">
							<div class="input-prepend">
						<span class="add-on"><i class="icon-envelope"></i></span>
						<input type="text" name="cm-mykh-mykh" id="mykh-mykh">
							</div>
						</div>
					</br>
					<input type="submit" value="Sign Up!" class="btn-large btn-primary"/>
				</div>
		</form>
		</div>
		<div class="span4">
			
		</div>
	</div>
</div>
</div>